<div class="scroller-demo">
    <div class="card">
        <h5>Basic</h5>
        <div class="flex align-items-center flex-wrap gap-3">
            <div>
                <h6>Vertical</h6>
                <p-scroller [items]="basicItems" [itemSize]="50">
                    <ng-template pTemplate="item" let-item let-options="options">
                        <div class="scroll-item p-2" [ngClass]="{'odd': options.odd}" style="height: 50px;">{{item}}</div>
                    </ng-template>
                </p-scroller>
            </div>

            <div>
                <h6>Horizontal</h6>
                <p-scroller [items]="basicItems" [itemSize]="50" orientation="horizontal">
                    <ng-template pTemplate="item" let-item let-options="options">
                        <div class="scroll-item p-2" [ngClass]="{'odd': options.odd}" style="width: 50px;">{{item}}</div>
                    </ng-template>
                </p-scroller>
            </div>

            <div>
                <h6>Both</h6>
                <p-scroller [items]="multiItems" [itemSize]="[50, 100]" orientation="both">
                    <ng-template pTemplate="item" let-item let-options="options">
                        <div class="scroll-item p-2" [ngClass]="{'odd': options.odd}" style="height: 50px;">
                            <div *ngFor="let el of item" style="width: 100px">{{ el }}</div>
                        </div>
                    </ng-template>
                </p-scroller>
            </div>
        </div>
    </div>

    <div class="card">
        <h5>Scroll Delay</h5>
        <div class="flex align-items-center flex-wrap gap-3">
            <div>
                <h6>0ms Delay</h6>
                <p-scroller [items]="basicItems" [itemSize]="50">
                    <ng-template pTemplate="item" let-item let-options="options">
                        <div class="scroll-item p-2" [ngClass]="{'odd': options.odd}" style="height: 50px;">{{item}}</div>
                    </ng-template>
                </p-scroller>
            </div>

            <div>
                <h6>150ms Delay</h6>
                <p-scroller [items]="basicItems" [itemSize]="50" [delay]="150">
                    <ng-template pTemplate="item" let-item let-options="options">
                        <div class="scroll-item p-2" [ngClass]="{'odd': options.odd}" style="height: 50px;">{{item}}</div>
                    </ng-template>
                </p-scroller>
            </div>

            <div>
                <h6>250ms Delay</h6>
                <p-scroller [items]="basicItems" [itemSize]="50" [delay]="250">
                    <ng-template pTemplate="item" let-item let-options="options">
                        <div class="scroll-item p-2" [ngClass]="{'odd': options.odd}" style="height: 50px;">{{item}}</div>
                    </ng-template>
                </p-scroller>
            </div>
        </div>
    </div>

    <div class="card">
        <h5>Loading</h5>
        <div class="flex align-items-center flex-wrap gap-3">
            <div>
                <h6>Basic</h6>
                <p-scroller [items]="basicItems" [itemSize]="50" [showLoader]="true" [delay]="250">
                    <ng-template pTemplate="item" let-item let-options="options">
                        <div class="scroll-item p-2" [ngClass]="{'odd': options.odd}" style="height: 50px;">{{item}}</div>
                    </ng-template>
                </p-scroller>
            </div>

            <div>
                <h6>Templating</h6>
                <p-scroller class="custom-loading" [items]="basicItems" [itemSize]="50" [showLoader]="true" [delay]="250">
                    <ng-template pTemplate="item" let-item let-options="options">
                        <div class="scroll-item p-2" [ngClass]="{'odd': options.odd}" style="height: 50px;">{{item}}</div>
                    </ng-template>
                    <ng-template pTemplate="loader" let-options="options">
                        <div class="scroll-item p-2" [ngClass]="{'odd': options.odd}" style="height: 50px;">
                            <p-skeleton [width]="options.even ? '60%' : '50%'" height="1.3rem"></p-skeleton>
                        </div>
                    </ng-template>
                </p-scroller>
            </div>
        </div>
    </div>

    <div class="card">
        <h5>Lazy</h5>
        <p-scroller [items]="lazyItems" [itemSize]="50" [showLoader]="true" [delay]="250" [loading]="lazyLoading" [lazy]="true" (onLazyLoad)="onLazyLoad($event)">
            <ng-template pTemplate="item" let-item let-options="options">
                <div class="scroll-item p-2" [ngClass]="{'odd': options.odd}" style="height: 50px;">{{item}}</div>
            </ng-template>
        </p-scroller>
    </div>

    <div class="card">
        <h5>Template</h5>
        <p-scroller class="custom-loading" [items]="templateItems" [itemSize]="25 * 7" [showLoader]="true" [delay]="250">
            <ng-template pTemplate="item" let-item let-options="options">
                <div class="custom-scroll-item scroll-item" [ngClass]="{'odd': options.odd}">
                    <div class="flex align-items-center px-2" style="height: 25px">Item: {{item}}</div>
                    <div class="flex align-items-center px-2" style="height: 25px">Index: {{options.index}}</div>
                    <div class="flex align-items-center px-2" style="height: 25px">Count: {{options.count}}</div>
                    <div class="flex align-items-center px-2" style="height: 25px">First: {{options.first}}</div>
                    <div class="flex align-items-center px-2" style="height: 25px">Last: {{options.last}}</div>
                    <div class="flex align-items-center px-2" style="height: 25px">Even: {{options.even}}</div>
                    <div class="flex align-items-center px-2" style="height: 25px">Odd: {{options.odd}}</div>
                </div>
            </ng-template>
            <ng-template pTemplate="loader" let-options="options">
                <div class="custom-scroll-item scroll-item" [ngClass]="{'odd': options.odd}">
                    <div class="flex align-items-center px-2" style="height: 25px"><p-skeleton width="60%" height="1.2rem"></p-skeleton></div>
                    <div class="flex align-items-center px-2" style="height: 25px"><p-skeleton width="50%" height="1.2rem"></p-skeleton></div>
                    <div class="flex align-items-center px-2" style="height: 25px"><p-skeleton width="60%" height="1.2rem"></p-skeleton></div>
                    <div class="flex align-items-center px-2" style="height: 25px"><p-skeleton width="50%" height="1.2rem"></p-skeleton></div>
                    <div class="flex align-items-center px-2" style="height: 25px"><p-skeleton width="60%" height="1.2rem"></p-skeleton></div>
                    <div class="flex align-items-center px-2" style="height: 25px"><p-skeleton width="50%" height="1.2rem"></p-skeleton></div>
                    <div class="flex align-items-center px-2" style="height: 25px"><p-skeleton width="60%" height="1.2rem"></p-skeleton></div>
                </div>
            </ng-template>
        </p-scroller>
    </div>
</div>