<div class="grid">
    <div class="col-12 md:col-4">
        <div class="card">
            <h5>Label</h5>
            <p-avatar label="P" styleClass="mr-2" size="xlarge"></p-avatar>
            <p-avatar label="V" styleClass="mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"></p-avatar>
            <p-avatar label="U" styleClass="mr-2" [style]="{'background-color': '#9c27b0', 'color': '#ffffff'}"></p-avatar>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="card">
            <h5>Label - Circle</h5>
            <p-avatar label="P" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
            <p-avatar label="V" styleClass="mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
            <p-avatar label="U" styleClass="mr-2" [style]="{'background-color': '#9c27b0', 'color': '#ffffff'}" shape="circle"></p-avatar>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="card">
            <h5>Label - Badge</h5>
            <p-avatar label="U" pBadge styleClass="mr-5" value="4" size="xlarge" [style]="{'background-color': '#4caf4f', 'color': '#ffffff'}"></p-avatar>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12 md:col-4">
        <div class="card">
            <h5>Icon</h5>
            <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge"></p-avatar>
            <p-avatar icon="pi pi-user" styleClass="mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"></p-avatar>
            <p-avatar icon="pi pi-user" styleClass="mr-2" [style]="{'background-color': '#9c27b0', 'color': '#ffffff'}"></p-avatar>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="card">
            <h5>Icon - Circle</h5>
            <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
            <p-avatar icon="pi pi-user" styleClass="mr-2" size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle"></p-avatar>
            <p-avatar icon="pi pi-user" styleClass="mr-2" [style]="{'background-color': '#9c27b0', 'color': '#ffffff'}" shape="circle"></p-avatar>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="card">
            <h5>Icon - Badge</h5>
            <p-avatar icon="pi pi-user" pBadge value="4" severity="success" styleClass="mr-2" size="xlarge"></p-avatar>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12 md:col-4">
        <div class="card">
            <h5>Image</h5>
            <p-avatar image="assets/showcase/images/demo/avatar/amyelsner.png" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
            <p-avatar image="assets/showcase/images/demo/avatar/asiyajavayant.png" styleClass="mr-2" size="large" shape="circle"></p-avatar>
            <p-avatar image="assets/showcase/images/demo/avatar/onyamalimba.png" styleClass="mr-2" shape="circle"></p-avatar>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="card">
            <h5>Avatar Group</h5>
            <p-avatarGroup styleClass="mb-3">
                <p-avatar image="assets/showcase/images/demo/avatar/amyelsner.png" size="large" shape="circle"></p-avatar>
                <p-avatar image="assets/showcase/images/demo/avatar/asiyajavayant.png" size="large" shape="circle"></p-avatar>
                <p-avatar image="assets/showcase/images/demo/avatar/onyamalimba.png" size="large" shape="circle"></p-avatar>
                <p-avatar image="assets/showcase/images/demo/avatar/ionibowcher.png" size="large" shape="circle"></p-avatar>
                <p-avatar image="assets/showcase/images/demo/avatar/xuxuefeng.png" size="large"shape="circle"></p-avatar>
                <p-avatar label="+2" shape="circle" size="large" [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
            </p-avatarGroup>
        </div>
    </div>
    <div class="col-12 md:col-4">
        <div class="card">
            <h5>Image - Badge</h5>
                <p-avatar image="assets/showcase/images/demo/organization/walter.jpg" pBadge value="4" severity="danger" styleClass="mr-2" size="xlarge"></p-avatar>
        </div>
    </div>
</div>