<h5>Lazy Loading</h5>
<p-virtualScroller
  [value]="virtualProducts"
  scrollHeight="450px"
  [itemSize]="100"
  [lazy]="true"
  (onLazyLoad)="loadCarsLazy($event)"
>
  <ng-template pTemplate="header"> List of Products </ng-template>
  <ng-template let-product pTemplate="item">
    <div class="product-item">
      <div class="product-list-detail">
        <h5 class="mb-2">{{ product.name }}</h5>
        <i class="pi pi-tag product-category-icon"></i>
        <span class="product-category">{{ product.category }}</span>
      </div>
      <div class="product-list-action">
        <h6 class="mb-2">${{ product.price }}</h6>
        <span
          [class]="
            'product-badge status-' + product.inventoryStatus.toLowerCase()
          "
          >{{ product.inventoryStatus }}</span
        >
      </div>
    </div>
  </ng-template>
  <ng-template let-product pTemplate="loadingItem">
    <p-skeleton height="90px" [style]="{ 'margin-top': '10px' }"></p-skeleton>
  </ng-template>
</p-virtualScroller>

<h5>Prepopulated List</h5>
<p-virtualScroller [value]="products" scrollHeight="500px" [itemSize]="100">
  <ng-template pTemplate="header">
    <div class="flex align-items-center justify-content-center gap-3 flex-wrap">
      List of Products
      <p-dropdown
        [options]="sortOptions"
        [(ngModel)]="sortKey"
        placeholder="Sort By"
        (onChange)="onSortChange()"
        [style]="{ 'min-width': '10em' }"
      ></p-dropdown>
    </div>
  </ng-template>
  <ng-template let-product pTemplate="item">
    <div class="product-item">
      <div class="product-list-detail">
        <h5 class="mb-2">{{ product.name }}</h5>
        <i class="pi pi-tag product-category-icon"></i>
        <span class="product-category">{{ product.category }}</span>
      </div>
      <div class="product-list-action">
        <h6 class="mb-2">${{ product.price }}</h6>
        <span
          [class]="
            'product-badge status-' + product.inventoryStatus.toLowerCase()
          "
          >{{ product.inventoryStatus }}</span
        >
      </div>
    </div>
  </ng-template>
</p-virtualScroller>
