<div class="content-section implementation">
    <div class="card flex flex-column align-items-center">
        <div pAnimate enterClass="flip" leaveClass="fadeoutleft" class="flex justify-content-center align-items-center h-20rem w-20rem border-round shadow-2 animation-duration-1000 animation-ease-out">
            <span class="text-900 text-3xl font-bold">flip</span>
        </div>
        <div class="h-30rem"></div>
        <div pAnimate enterClass="flipup" class="flex justify-content-center align-items-center h-20rem w-20rem border-round shadow-2 animation-duration-1000 animation-ease-out">
            <span class="text-900 text-3xl font-bold">flipup</span>
        </div>
        <div class="h-30rem"></div>
        <div pAnimate enterClass="flipleft" class="flex justify-content-center align-items-center h-20rem w-20rem border-round shadow-2 animation-duration-1000 animation-ease-out">
            <span class="text-900 text-3xl font-bold">flipleft</span>
        </div>
        <div pAnimate enterClass="flip" leaveClass="fadeoutleft" class="flex justify-content-center align-items-center h-20rem w-20rem border-round shadow-2 animation-duration-1000 animation-ease-out"></div>

    </div>
</div>